/EmployeeSystem.Domain/bin/
/EmployeeSystem.Domain/obj/
/EmployeeSystem.Application/bin/
/EmployeeSystem.Application/obj/
/EmployeeSystem.Infrastructure/bin/
/EmployeeSystem.Infrastructure/obj/
/EmployeeSystem.Infrastructure/Migrations/
/EmployeeSystem.WebUI.Server/bin/
/EmployeeSystem.WebUI.Server/obj/
/.vs/
