@page "/employees/create"

@using Microsoft.EntityFrameworkCore
@using EmployeeSystem.Domain.Entities
@inject IDbContextFactory<EmployeeSystem.Infrastructure.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Employee" OnValidSubmit="AddEmployee" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="employeename" class="form-label">EmployeeName:</label> 
                <InputText id="employeename" @bind-Value="Employee.EmployeeName" class="form-control" /> 
                <ValidationMessage For="() => Employee.EmployeeName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="position" class="form-label">Position:</label> 
                <InputText id="position" @bind-Value="Employee.Position" class="form-control" /> 
                <ValidationMessage For="() => Employee.Position" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="departmentid" class="form-label">DepartmentId:</label> 
                <InputNumber id="departmentid" @bind-Value="Employee.DepartmentId" class="form-control" /> 
                <ValidationMessage For="() => Employee.DepartmentId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/employees">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Employee Employee { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddEmployee()
    {
        using var context = DbFactory.CreateDbContext();
        context.Employees.Add(Employee);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/employees");
    }
}
