@page "/employees"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using EmployeeSystem.Domain.Entities
@inject IDbContextFactory<EmployeeSystem.Infrastructure.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="employees/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Employees">
    <PropertyColumn Property="employee => employee.EmployeeName" />
    <PropertyColumn Property="employee => employee.Position" />
    <PropertyColumn Property="employee => employee.DepartmentId" />

    <TemplateColumn Context="employee">
        <a href="@($"employees/edit?employeeid={employee.EmployeeId}")">Edit</a> |
        <a href="@($"employees/details?employeeid={employee.EmployeeId}")">Details</a> |
        <a href="@($"employees/delete?employeeid={employee.EmployeeId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
